doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 #{title}
    nav
      span <a href='/', title='主页' >home </a>	
      span <a href='/login', title='登录' > login </a> 
      span <a href='/reg', title='注册'> register </a>
    block content
