doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 #{title}
    nav
      if user
        div 欢迎您 #{user.name}
      else 
      span 
        a(href='/', title='主页') home
      if user 
        span
          a(href='/post', title='发表') post
        span
          a(href='/logout', title ='登出') logout
      else
        span 
          a(href='/login', title='登录') login 
        span 
          a(href='/reg', title='注册') register
    article
      if flash
        div #{flash.message}  


    block content
